@model ICollection<StravaActivityModel>
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@foreach(var activity in Model)
{
    <div class="card mb-12">
        <h5 class="card-header">@activity.Name</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <img src="@activity.Map.ToString()" class="img-fluid rounded-start">
                </div>
                <div class="col-md-9">
                    <p class="card-text">@activity.Description</p>
                    <div class="row">
                        <div class="col-md-3">
                            Time: @activity.MovingTime
                        </div>
                        <div class="col-md-3">
                            Distance: @activity.Distance mi
                        </div>
                        <div class="col-md-3">
                            Avg Speed: @activity.AverageSpeed mph
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            @activity.StartTime
        </div>
    </div>
}